@model IEnumerable<DeviceMS.Models.DeviceViewModel>
           
@{
    ViewBag.Title = "Devices";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayName("Users")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Processor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HardDrive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Softwares)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @{
                foreach ( var e in item.Email){
                    <div>@(e) </div>
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Processor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HardDrive)
        </td>
        <td>
            @{
                foreach (var ss in item.SoftwaresList)
                {
                    <div>@(ss) </div>
                }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.DeviceId }, new { @class="btn btn-primary btn-xs"}) <br />
            @Html.ActionLink("Details", "Details", new { id = item.DeviceId }, new { @class = "btn btn-info btn-xs" }) <br />
            @Html.ActionLink("Delete", "Delete", new { id = item.DeviceId }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
